#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  suitecrm-app.service
BindsTo=suitecrm.service
After=suitecrm.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/suitecrm-app.pid %t/suitecrm-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/suitecrm-app.pid \
    --cidfile %t/suitecrm-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/suitecrm.pod-id --replace -d --name  suitecrm-app \
    --volume suitecrm-app:/var/www/html/:Z \
    --volume ./tmp:/tmp:Z \
    --env-file=%S/state/database.env \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/suitecrm-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP suitecrm-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/suitecrm-app.ctr-id
PIDFile=%t/suitecrm-app.pid
Type=forking

[Install]
WantedBy=default.target
